@import '../src/_colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@500;700&display=swap');

/* Скрытие стандартного скролл-бара */
body::-webkit-scrollbar {
  width: 12px; /* Ширина скролл-бара */
}

/* Стилизация скролл-бара */
body::-webkit-scrollbar-track {
  background-color: #1E1E1E; /* Цвет трека */
}

body::-webkit-scrollbar-thumb {
  background-color: #636583; /* Цвет ползунка */
  border-radius: 6px; /* Радиус закругления ползунка */
}

/* Изменение внешнего вида при наведении на ползунок */
body::-webkit-scrollbar-thumb:hover {
  background-color: #d08927; /* Цвет ползунка при наведении */
}

/* Стилизация скролл-бара в горизонтальном режиме */
body::-webkit-scrollbar-horizontal {
  height: 12px; /* Высота скролл-бара в горизонтальном режиме */
}

body::-webkit-scrollbar-thumb:horizontal {
  background-color: #636583; /* Цвет ползунка в горизонтальном режиме */
}

/* Стилизация скролл-бара в вертикальном режиме */
body::-webkit-scrollbar-vertical {
  width: 12px; /* Ширина скролл-бара в вертикальном режиме */
}

body::-webkit-scrollbar-thumb:vertical {
  background-color: #636583; /* Цвет ползунка в вертикальном режиме */
}

h1 {
  font-family: 'Unbounded', cursive;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 5rem;
  padding-left: 10px;
  padding-right: 10px;
  color: $text-color;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Unbounded', cursive;
  font-weight: normal;
  font-style: normal;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  font-size: 2.2rem;
  padding-left: 10px;
  padding-right: 10px;
}

/* Текст */
p,
span,
div {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
  font-size: 1.3rem;
  word-wrap: break-word;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.container a {
  text-decoration: none;
  color: $accent-color;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.3rem; /* Размер шрифта для ссылок */
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: linear-gradient(#040814, #1e1e1e 40%,#1e1e1e 60%, #040814);
  color: $text-color;
}

.container {
  width: 100%;
  max-width: 1200px; /* Задайте желаемую максимальную ширину контента */
  margin: 0 auto;
}

.image-container {
  margin: 0 auto;
  max-width: 1900px; /* Ширина контейнера */
  height: auto; /* Высота контейнера, автоматически определяется в зависимости от соотношения сторон изображения */
  border-radius: 10px; /* Скругление углов контейнера */
  overflow: hidden; /* Обрезание изображения, выходящего за границы контейнера */
}

.image-container img {
  display: block; /* Убирает пробелы под изображением */
  width: 100%; /* Ширина изображения, чтобы оно занимало всю ширину контейнера */
  height: 100vh; /* Высота изображения, автоматически определяется в зависимости от соотношения сторон */
  object-fit: cover;
}
