@import '../src/_colors.scss';

@font-face {
  font-family: 'GolosText-Black';
  src:
    url('../fonts/golos-text_black.woff2') format('woff2'),
    url('../fonts/golos-text_black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText-Bold';
  src:
    url('../fonts/golos-text_bold.woff2') format('woff2'),
    url('../fonts/golos-text_bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText-Medium';
  src:
    url('../fonts/golos-text_medium.woff2') format('woff2'),
    url('../fonts/golos-text_medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText-Regular';
  src:
    url('../fonts/golos-text_regular.woff2') format('woff2'),
    url('../fonts/golos-text_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'GolosText-Black', sans-serif;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 5rem;
  padding-left: 10px;
  padding-right: 10px;
  color: $text-color;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'GolosText-Bold', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  font-size: 2.2rem;
  padding-left: 10px;
  padding-right: 10px;
}

/* Текст */
p,
span,
div {
  font-family: 'GolosText-Regular', sans-serif;
  color: $text-color;
  font-size: 1.3rem;
  word-wrap: break-word;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.container a {
  text-decoration: none;
  color: $accent-color;
  font-family: 'GolosText-Regular', sans-serif;
  font-weight: bold;
  font-size: 1.3rem; /* Размер шрифта для ссылок */
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: $background-color;
  color: $text-color;
}

.container {
  padding-top: 80px;
  width: 100%;
  max-width: 1200px; /* Задайте желаемую максимальную ширину контента */
  margin: 0 auto;
}

.image-container {
  margin: 0 auto;
  max-width: 1900px; /* Ширина контейнера */
  height: auto; /* Высота контейнера, автоматически определяется в зависимости от соотношения сторон изображения */
  border-radius: 10px; /* Скругление углов контейнера */
  overflow: hidden; /* Обрезание изображения, выходящего за границы контейнера */
}

.image-container img {
  display: block; /* Убирает пробелы под изображением */
  width: 100%; /* Ширина изображения, чтобы оно занимало всю ширину контейнера */
  height: 100vh; /* Высота изображения, автоматически определяется в зависимости от соотношения сторон */
  object-fit: cover;
}
